
html {
    font-family: Arial;
}
body {
 
}

h1{

    background-color:aquamarine;
    border-radius: 25px;
}

.box {
    
    background-color: blue;
    width: 50px;
    border: 50px blue;
    padding: 50px;
    margin: 50px;
}

p.boxfont{

    color: white;
}